body{
    background:#2c3e50;
}
*{
    box-sizing: border-box;
}
#container
{
    margin: 0 auto;
    width:960px;
}

#header
{
	background: #ecf0f1;
	padding: 20px;
	color:#333;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 20px;
	margin:20px 0;
		background:#34495e;
	color:#ecf0f1;
}

#edito h2
{
    color: #FFF;
    font-style:bold;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	float: left;
	width: 49%;
	padding: 20px;
	margin-bottom: 15px;
	background:#34495e;
	color:#ecf0f1;
}
#news:nth-child(2n){
    margin-left:15px;
}
#footer
{
	clear: both;
	text-align: right;
	padding: 20px;
	height: 1%;
	background: #ecf0f1;
	color:#333;
}
